PORT=9000
APP_ENV=local
BLUEPRINT_DB_HOST=localhost
BLUEPRINT_DB_PORT=3306
BLUEPRINT_DB_DATABASE=chat-realtime
BLUEPRINT_DB_USERNAME=admin
BLUEPRINT_DB_PASSWORD=password
BLUEPRINT_DB_ROOT_PASSWORD=rootpassword
# REDIS_HOST=redis
REDIS_HOST=localhost
REDIS_PORT=6379
